<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4" style="width: 300px;">
        <div class="card-body">
            <h5 class="card-title text-center mb-4">Reset Password</h5>
            <form #passwordResetForm="ngForm" (ngSubmit)="onSubmit(passwordResetForm)">
                <div *ngIf="message" class="alert" [ngClass]="{'alert-success': messageType === 'success', 'alert-danger': messageType === 'error'}">
                    {{ message }}
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">New Password</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword" [type]="isPasswordVisible ? 'text' : 'password'" required>
                        <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility()">
                            <i class="bi" [ngClass]="isPasswordVisible ? 'bi-eye' : 'bi-eye-slash'"></i>
                        </button>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100" [disabled]="passwordResetForm.invalid">Reset Password</button>
            </form>
        </div>
    </div>
</div>
