<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand" href="">
      <img src="/logo-no-bg.png" alt="Swim Logo" width="30" height="30" class="d-inline-block align-top">
      <span class="logo-name">Swim</span>
    </a>
    <form class="d-flex position-relative justify-content-center mx-auto">
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1"><i class='bx bx-search'></i></span>
        <input class="form-control" type="search" placeholder="Search for users" aria-label="Search" (input)="search($event)">
      </div>
      <div class="dropdown-menu position-absolute" [class.show]="searchResults.length > 0" *ngIf="searchResults.length > 0">
        <ul class="list-group" aria-labelledby="dropdownMenuButton">
          <li class="list-group-item dropdown-item" *ngFor="let result of searchResults">
            <a class="dropdown-link d-flex align-items-center" [routerLink]="['/profile', result.userName]">
              <img [src]="result.profilePicture || 'default.png'" alt="{{ result.userName }}'s profile picture" [class.skeleton]="!result.imageLoaded" (load)="result.imageLoaded = true" (error)="handleImageError($event, result)">
              &#64;{{ result.userName }}
            </a>
          </li>
        </ul>
      </div>
    </form>
    <div class="user-info d-flex align-items-center">
      <div class="profile-pic-container">
        <img [src]="profilePictureUrl" alt="Profile Picture" class="profile-pic" [class.skeleton]="!imageLoaded" (load)="imageLoaded = true" (error)="handleImageError($event)">
      </div>
      <span class="username">&#64;{{ username }}</span>
    </div>
  </div>
</nav>
