.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(18, 18, 18) !important;
    border-bottom: 1px solid darkslategray;
}

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 50px; /* Adjust as needed for spacing on the right */
}

.navbar form {
    margin-left: -50px; /* Adjust to move the search bar to the left */
}

.navbar form .input-group {
    width: 400px; /* Adjust width as necessary */
}

.navbar form .form-control:focus {
    outline: none;
    box-shadow: none;
}

.navbar form .form-control {
    background-color: rgb(24, 24, 24);
    color: white;
    border: none; /* Remove default border */
    caret-color: white; /* Set the caret color to white */
}

.navbar form .form-control::placeholder {
    color: gray; /* Placeholder text color */
}

.navbar form .input-group-text {
    background-color: rgb(24, 24, 24);
    border: none; /* Remove default border */
    color: white;
}

.navbar form .btn {
    background-color: transparent;
    font-size: 20px;
    border: none;
    color: white;
}

.dropdown-menu {
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(18, 18, 18);
}

.dropdown-menu .list-group-item {
    cursor: pointer;
    background-color: rgb(24, 24, 24);
    border: none; /* Remove any border */
    padding: 0; /* Remove padding to ensure the link covers the entire item */
}

.dropdown-menu .dropdown-link {
    display: flex;
    align-items: center;
    padding: 8px 15px; /* Adjust padding for better alignment */
    color: white;
    text-decoration: none;
    width: 100%; /* Make the link take up the full width of the item */
}

.dropdown-menu .list-group-item:hover .dropdown-link {
    background-color: black; /* Hover/focus background color */
    color: white; /* Hover/focus text color */
}

.dropdown-menu .dropdown-link img {
    border-radius: 50%;
    width: 30px; /* Adjust width for better sizing */
    height: 30px; /* Adjust height for better sizing */
    margin-right: 10px; /* Space between image and text */
    object-fit: cover; /* Ensure the image maintains its aspect ratio and doesn't stretch */
}

.logo-name {
    margin-left: 10px; /* Adjust spacing between logo and text */
    color: white; /* Set the color for the logo name */
}
