<app-sidebar></app-sidebar>
<app-topbar></app-topbar>
<div class="main-content">
  <div class="following-feed">
    <ng-container *ngIf="posts.length > 0; else noUsersFollowed">
      <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </ng-container>
    <ng-template #noUsersFollowed>
      <p class="no-following-message">No users followed yet.</p>
    </ng-template>
  </div>
</div>
<!-- Floating action button -->
<button mat-fab class="fab-button btn btn-primary" (click)="openPostModal()">
  <mat-icon>add</mat-icon>
</button>
