.app-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full height */
}

.main-content {
  display: flex;
  flex-grow: 1;
  padding: 20px 0 20px 20px; /* Remove right padding and adjust left padding */
  color: white;
  overflow-y: auto; /* Make the main content scrollable */
}

.post-feed {
  flex-grow: 1; /* Allow post feed to take available space */
  margin-left: 35px; /* Reduce margin to the right */
}

.sidebar-container {
  display: flex;
  flex-direction: row; /* Align items in a row */
  position: fixed;
  top: 30px; /* Adjust top position as needed */
  right: 5px; /* Align to the right */
  height: calc(100vh - 60px); /* Adjust height to fit the screen minus topbar */
  align-items: stretch; /* Make sure the items stretch to full height */
}

.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #2979ff;
  color: white;
  border-radius: 50% !important; 
}
