<ng-template #postModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="postModalLabel">Create Post</h5>
    </div>
    <div class="modal-body">
      <textarea [(ngModel)]="postContent" class="form-control" id="postContent" rows="4" placeholder="What's on your mind?" maxlength="250"></textarea>
      <div id="charCount" class="text-muted">Characters: {{ postContent.length }}/250</div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
      <button type="button" class="btn btn-primary" [disabled]="postContent.length > 250 || postContent.length === 0" (click)="createPost(modal)">Post</button>
    </div>
  </div>
</ng-template>
