<nav class="side-nav recommended-users">
  <div class="sidebar">
    <div class="sidebar-content">
      <!-- Navigation Links -->
      <ul class="lists">
        <li class="list">
          <a routerLink="/" routerLinkActive="active-link" class="nav-link">
            <i class="bx bx-home-alt icon"></i>
            <span class="link">Home</span>
          </a>
        </li>
        <li class="list">
          <a
            routerLink="/following"
            routerLinkActive="active-link"
            class="nav-link"
          >
            <i class="bx bx-group icon"></i>
            <span class="link">Following</span>
          </a>
        </li>
        <li class="list">
          <a
            routerLink="/profile/{{ username }}"
            routerLinkActive="active-link"
            class="nav-link"
          >
            <i class="bx bx-user icon"></i>
            <span class="link">Profile</span>
          </a>
        </li>
        <li class="list">
          <a
            routerLink="/stats"
            routerLinkActive="active-link"
            class="nav-link"
          >
            <i class="bx bx-bar-chart-alt-2 icon"></i>
            <span class="link">Stats</span>
          </a>
        </li>
      </ul>

      <!-- User Info and Logout Link -->
      <div class="bottom-content">
        <ul class="lists">
          <li class="list">
            <!-- Integrate LogoutComponent here -->
            <app-logout></app-logout>
          </li>
          <li class="list">
            <a class="nav-link delete-account" (click)="confirmDelete()">
              <i class="bx bxs-message-alt-x icon"></i>
              <span class="link">Delete Account</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- Delete Account Confirmation Modal -->
<div
  *ngIf="showDeleteConfirm"
  class="modal show d-block"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Deletion</h5>
        <button type="button" class="close" (click)="cancelDelete()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete your account? This cannot be reverted.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="deleteAccount()">
          Yes, delete my account
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="cancelDelete()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
