.recommended-users {
    color: #ffffff;
    background-color: rgb(18, 18, 18);
    /* Updated background color */
    border-left: darkslategray;
    padding: 10px;
    /* Reduced padding */
    max-width: 400px;
    /* Reduced max-width */
    width: 100%;
    height: calc(100vh);
    /* Full height minus topbar height */
    border-left: 1px solid darkslategray;
    /* Added left border */
    position: relative;
    overflow-y: auto;
    /* Ensure the list is scrollable */
}

.recommended-users h2 {
    margin-top: 20px;
    /* Added top margin to move text further down */
    margin-bottom: 15px;
    /* Reduced margin */
    font-size: 20px;
    /* Reduced font-size */
    color: #ccc;
    padding-left: 10px;
    /* Added padding to move text to the right */
}

.list-group-item {
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border: none;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    /* Reduced padding */
    transition: transform 0.3s, box-shadow 0.3s;
}

.rounded-circle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 10px; /* Add a small margin to move the username closer to the profile picture */
  }

.user-name {
    font-size: 15px;
    /* Reduced font-size */
    color: #ffffff;
}

.user-name-link {
    color: #ffffff;
    text-decoration: none;
}

.user-name-link:hover {
    text-decoration: underline;
}

.btn {
    font-size: 12px;
    padding: 5px 10px;
}

ul.list-group {
    padding: 0;
    list-style: none;
}

ul.list-group li {
    margin-bottom: 10px;
}
