.recommended-users {
    color: #ffffff;
    background-color: rgb(18, 18, 18);
    padding: 20px;
    max-width: 100%;
    width: 400px;
    height: calc(100vh - 60px); /* Adjust for top bar height */
    position: relative;
    overflow-y: auto;
    margin: 0 auto; /* Center align on larger screens */
    border-left: 2px solid darkslategrey; /* Add left border */
}

.recommended-users h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #ccc;
    padding-left: 10px;
}

.list-group-item {
    display: flex;
    align-items: center;
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    margin-bottom: 20px; /* Increased margin between items */
    padding: 20px; /* Increased padding for better spacing */
    transition: transform 0.3s, box-shadow 0.3s;
    border: none; /* Remove border around each item */
}

.rounded-circle {
    border-radius: 50%;
    width: 50px; /* Increased size of the profile picture */
    height: 50px;
    object-fit: cover;
}

.user-info {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px; /* Margin between profile picture and username */
}

.user-details {
    flex-grow: 1; /* Allow the username container to grow */
    margin-left: 8px; /* Space between profile picture and username */
    margin-right: 20px; /* Space between username and follow button */
}

.user-name {
    font-size: 16px; /* Increased font size */
    color: #ffffff;
    margin: 0; /* Reset margin for the <h5> tag */
    font-weight: bold;
}

.user-name-link {
    color: #ffffff;
    text-decoration: none;
}

.user-name-link:hover {
    text-decoration: underline;
}

.btn {
    font-size: 14px; /* Increased button font size */
    padding: 8px 16px; /* Increased button padding */
    margin-left: auto; /* Align button to the right */
}

ul.list-group {
    padding: 0;
    list-style: none;
}

ul.list-group li {
    margin-bottom: 20px; /* Increased margin between list items */
}

@media (max-width: 576px) {
    .recommended-users {
        padding: 15px;
    }
    
    .list-group-item {
        padding: 16px;
    }
    
    .user-name {
        font-size: 14px;
    }
}
