<div class="container mt-4 recommended-users">
    <h2>Recommended Users</h2>
    <ul class="list-group">
        <li *ngFor="let user of recommendedUsers" class="list-group-item d-flex align-items-center">
            <a [routerLink]="['/profile', user.userName]">
                <img [src]="user.profilePicture || 'https://cdn.pixabay.com/photo/2020/05/17/20/21/cat-5183427_1280.jpg'" alt="{{user.userName}}'s profile picture" class="rounded-circle me-3">
            </a>
            <div class="user-info d-flex align-items-center">
                <a [routerLink]="['/profile', user.userName]" class="user-name-link me-2">
                    <h5 class="user-name">&#64;{{ user.userName }}</h5>
                </a>
                <button class="btn btn-sm" [ngClass]="user.isFollowing ? 'btn-secondary' : 'btn-primary'" (click)="toggleFollow(user)">
                  {{ user.isFollowing ? 'Unfollow' : 'Follow' }}
                </button>
            </div>
        </li>
    </ul>
</div>
